bcrypt==4.3.0
celery==5.5.1
environs==11.0.0
fastapi==0.111.0
gunicorn==23.0.0
loguru==0.7.2
openai==1.74.0
psycopg2-binary==2.9.7
pydantic[email]==2.6.1
python-jose==3.4.0
python-multipart==0.0.9
redis==5.0.1
sqlalchemy==2.0.40
tenacity==8.2.3
uvicorn==0.34.0
